.why
    background: #f3f3f3
    &__body
        padding: 40px 0
        text-align: center
    &__title
        font-size: 40px
        line-height: 48px
        color: #e1524b
        text-transform: uppercase
        padding: 10px 0
        +semibold
    &__description
        font-size: 13px
        line-height: 20px
        color: #777777
        +normal
    &__images-body
        width: 100%
        margin: 67px 0
        display: flex
        align-items: center
        justify-content: space-between
    &__images-item
        &:nth-child(1)
            max-width: 370px
            z-index: 1
            & img
                position: absolute
                transform: translate(0%, -50%)
                max-height: 30%
        &:nth-child(2)
            margin: 0 auto
            z-index: 2
            max-width: 570px
            & img
                position: static
                transform: translate(0, 0)
                max-width: 100%
        &:nth-child(3)
            max-width: 370px
            z-index: 1
            & img
                position: absolute
                transform: translate(-100%, -50%)
                max-height: 30%

    &__us
        display: flex
        justify-content: space-between
        flex-flow: row wrap

    &__choose-body
        width: 25%
        min-width: 225px
        text-align: left
        & p
            font-size: 16px
            line-height: 19px
            color: #7f8c8c
            margin-bottom: 30px
            +bold
        & ul
            & li
                font-size: 13px
                line-height: 26px
                font-weight: 400
                color: #777777
                &::before
                    content: "\f061"
                    margin-right: 5px
                    font-size: 12px
                    line-height: 1px
                    font-weight: 900
                    color: #e1524b
                    +icon
    &__say-body
        width: 25%
        min-width: 225px
    &__say-title
        font-size: 16px
        line-height: 19px
        color: #7f8c8c
        margin-bottom: 30px
        +bold
    &__say-text
        z-index: 2
        position: relative
        background-color: $color-light
        padding: 10px
        font-size: 13px
        line-height: 24px
        font-weight: 400
        font-style: italic
        color: #777777
        text-align: left
        & span
            display: block
            font-style: normal

    &__say-name
        font-size: 16px
        line-height: 30px
        color: #777777
        text-align: left
        +semibold
        &::before
            z-index: 1
            position: relative
            top: 15px
            left: 20px
            content: ""
            margin-right: 30px
            width: 0
            height: 0
            border-top: 30px solid $color-light
            border-left: 20px solid transparent

    &__center-body
        width: 50%
        & p
            font-size: 13px
            line-height: 24px
            font-weight: 400
            text-align: left
            color: #777777
            padding: 0 10px
            & a
                text-decoration: underline
                color: #e1524b
                &:hover
                    text-decoration: none

@media ( max-width: 991px )
    .why
        &__images-item
            &:nth-child(1)
                & img
                    opacity: 0.8
            &:nth-child(2)
                & img
            &:nth-child(3)
                & img
                    opacity: 0.8
        &__us
            flex-flow: column wrap
        &__choose-body
            width: 100%
        &__center-body
            width: 100%
            & p
                padding: 40px 0px
        &__say-body
            width: 100%
        &__say-text

@media ( max-width: 780px )
    .why
        &__images-body
            width: 100%
        &__images-item
            &:nth-child(1)
                & img
            &:nth-child(2)
                & img
            &:nth-child(3)
                & img
@media ( max-width: 596px )
    .why
        &__images-body
        &__images-item
            &:nth-child(1)
                & img
                    max-width: 50%
            &:nth-child(2)
                & img
            &:nth-child(3)
                & img
                    max-width: 50%
