.why
    background: #f3f3f3
    &__body
        padding: 40px 0
        text-align: center
    &__title
        font-size: 40px
        line-height: 48px
        color: #e1524b
        text-transform: uppercase
        +bold
    &__description
        font-size: 13px
        line-height: 20px
        color: #777777
        +normal
