@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus, *:active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/opensans.eot");
  src: url("../fonts/opensans.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans.woff") format("woff"), url("../fonts/opensans.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/opensansbold.eot");
  src: url("../fonts/opensansbold.eot?#iefix") format("embedded-opentype"), url("../fonts/opensansbold.woff") format("woff"), url("../fonts/opensansbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Semibold';
  src: url("../fonts/opensanssemibold.eot");
  src: url("../fonts/opensanssemibold.eot?#iefix") format("embedded-opentype"), url("../fonts/opensanssemibold.woff") format("woff"), url("../fonts/opensanssemibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Semibold Italic';
  src: url("../fonts/opensanssemibolditalic.eot");
  src: url("../fonts/opensanssemibolditalic.eot?#iefix") format("embedded-opentype"), url("../fonts/opensanssemibolditalic.woff") format("woff"), url("../fonts/opensanssemibolditalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans Light';
  src: url("../fonts/opensanslight.eot");
  src: url("../fonts/opensanslight.eot?#iefix") format("embedded-opentype"), url("../fonts/opensanslight.woff") format("woff"), url("../fonts/opensanslight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/fontawesome/fa-regular-400.eot");
  src: url("../fonts/fontawesome/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome/fa-regular-400.woff2") format("woff2"), url("../fonts/fontawesome/fa-regular-400.woff") format("woff"), url("../fonts/fontawesome/fa-regular-400.ttf") format("truetype"), url("../fonts/fontawesome/fa-regular-400.svg#fontawesome") format("svg");
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main {
  background-color: #f3f3f3;
}

.col-1 {
  width: 100%;
}

.col-2 {
  width: 50%;
}

.col-3 {
  width: 33.33%;
}

.col-4 {
  width: 25%;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
  .main {
    background-color: #f3f3f3;
  }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .main {
    background-color: #f3f3f3;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .main {
    background-color: #f3f3f3;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .main {
    background-color: #f3f3f3;
  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
  .main {
    background-color: #f3f3f3;
  }
  .col-1 {
    width: 100%;
  }
  .col-2 {
    width: 100%;
  }
  .col-3 {
    width: 100%;
  }
  .col-4 {
    width: 100%;
  }
}

/* Iphone 5 */
@media (max-width: 320px) {
  .main {
    background-color: #f3f3f3;
  }
}

.header {
  width: 100%;
  height: 80px;
  background-color: #76c7c0;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-family: OpenSans;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  color: #ffffff;
}

.header__logo {
  padding: 19px 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 800;
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Open Sans Semibold', sans-serif;
  font-weight: 600;
  font-style: normal;
}

.header__logo span {
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  padding-left: 4px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 14px;
  line-height: 15px;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu-list li {
  padding: 10px 15px;
  margin: 10px;
  border-radius: 4px;
}

.header__menu-list li:hover {
  background-color: #62bdbd;
}

.header__menu-list li:active {
  background-color: #e8756f;
  border-bottom: #e2534b 4px solid;
}

.header__menu-list a {
  color: #ffffff;
}

@media (max-width: 987px) {
  .header__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__logo {
    z-index: 10;
  }
  .header__menu-list {
    visibility: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 30px;
    background-color: #555555;
    z-index: 10;
  }
  .header__menu-list li {
    margin: 5% 0%;
    font-size: 30px;
  }
}

.footer {
  background-color: #76c7c0;
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 40px 0;
}

.footer__main-body {
  padding-right: 20px;
}

.footer__main-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 800;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.footer__main-title span {
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  padding-left: 4px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.footer__main-description {
  margin-bottom: 20px;
  font-size: 13px;
  line-height: 23px;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.footer__main-contacts p span {
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  font-family: 'Open Sans Semibold Italic', sans-serif;
  font-weight: 600;
  font-style: italic;
}

.footer__nav-body {
  padding: 0 40px;
}

.footer__nav-body li::before {
  content: "\f105";
  margin-right: 10px;
  font-size: 13px;
  line-height: 23px;
  font-family: "Font Awesome 5 Pro";
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
}

.footer__nav-body a {
  text-decoration: none;
  color: #ffffff;
}

.footer__nav-body a:hover {
  text-decoration: underline;
}

.footer__nav-title {
  color: #555555;
  font-size: 20px;
  line-height: 36px;
  margin-bottom: 20px;
  font-family: 'Open Sans Semibold', sans-serif;
  font-weight: 600;
  font-style: normal;
}

.footer__posts-body {
  padding-left: 20px;
}

.footer__posts-body li::before {
  content: "\f105";
  margin-right: 10px;
  font-size: 13px;
  line-height: 23px;
  font-family: "Font Awesome 5 Pro";
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
}

.footer__posts-body a {
  text-decoration: none;
  color: #ffffff;
}

.footer__posts-body a:hover {
  text-decoration: underline;
}

.footer__posts-title {
  color: #555555;
  font-size: 20px;
  line-height: 36px;
  margin-bottom: 20px;
  font-family: 'Open Sans Semibold', sans-serif;
  font-weight: 600;
  font-style: normal;
}

.footer__copyright {
  background: #62b9b0;
  padding: 20px 0;
}

@media (max-width: 480px) {
  .footer__main-body {
    padding: 20px 0px;
  }
  .footer__nav-body {
    text-align: center;
    padding: 20px 0px;
  }
  .footer__posts-body {
    text-align: center;
    padding: 20px 0px;
  }
}

.section-banner {
  background: #7f8c8c url("/assets/img/unsplash01.jpg") 10% 10%/cover no-repeat;
  min-height: 500px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.section-banner__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-banner__body-title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 2px 10px;
  margin: 5px auto 5px auto;
  border-radius: 5px;
  font-size: 50px;
  line-height: 56px;
  font-weight: 800;
  color: #ffffff;
  background-color: #e2534b;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Open Sans Semibold', sans-serif;
  font-weight: 600;
  font-style: normal;
}

.section-banner__body-subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 470px;
  padding: 13px 30px;
  margin: 5px auto 5px auto;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  color: #ffffff;
  background-color: #555;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.section-banner__dots {
  background-color: #f3f3f3;
  text-align: center;
}

.section-banner__dots-item {
  display: inline-block;
  width: 60px;
  height: 5px;
  background-color: #b0b8b9;
  margin: 20px 2px;
}

.section-banner__dots-item.active {
  background-color: #e2534b;
}

.tservises__body {
  background-color: #ececec;
  border-radius: 4px;
  padding: 14px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tservises__text-wrapper {
  margin: 10px 10px;
}

.tservises__title {
  padding: 5px 0px;
  font-size: 30px;
  line-height: 36px;
  color: #7f8c8c;
  font-family: 'Open Sans Semibold', sans-serif;
  font-weight: 600;
  font-style: normal;
}

.tservises__desc {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #777777;
}

.tservises__button {
  min-width: 200px;
  padding: 15px 40px;
  margin: 10px 10px;
  border-radius: 6px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  color: #ffffff;
  background-color: #e8756f;
  text-transform: uppercase;
  border-bottom: 4px solid #e2534b;
  cursor: pointer;
}

.tservises__button:hover {
  background-color: #e2534b;
}

.tservises__button-wrapper {
  margin: 10px 0px;
}

.servises {
  padding: 50px 0;
}

.servises__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.servises__item {
  width: 270px;
}

.servises__item-block {
  padding: 17px;
  height: 310px;
  background-color: #f8f8f8;
  border-radius: 4%;
  border-bottom: 4px solid #e5e6e6;
  cursor: pointer;
}

.servises__item-block:hover {
  background-color: #ffffff;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.servises__item-block:hover .servises__item-icon {
  color: #e2534b;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.servises__item-icon {
  padding: 17px;
  text-align: center;
  font-size: 60px;
  line-height: 7px;
  color: #62bdbd;
}

.servises__item-title {
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  color: #7f8c8c;
  font-family: 'Open Sans Semibold', sans-serif;
  font-weight: 600;
  font-style: normal;
}

.servises__item-description {
  padding: 36px 0;
  text-align: center;
  font-size: 13px;
  line-height: 20px;
  color: #777777;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.servises__button {
  position: relative;
  bottom: 25px;
  text-align: center;
}

.servises__button span {
  display: inline-block;
  width: 200px;
  height: 50px;
  background-color: #62bdbd;
  border-bottom: 4px solid #62b9b0;
  border-radius: 6px;
  color: #ffffff;
  text-align: center;
  padding-top: 15px;
  cursor: pointer;
}

.servises__button span:hover {
  background-color: #e8756f;
  border-bottom: 4px solid #e2534b;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

@media (max-width: 882px) {
  .servises__body {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 596px) {
  .servises__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.why {
  background: #f3f3f3;
}

.why__body {
  padding: 40px 0;
  text-align: center;
}

.why__title {
  font-size: 40px;
  line-height: 48px;
  color: #e1524b;
  text-transform: uppercase;
  padding: 10px 0;
  font-family: 'Open Sans Semibold', sans-serif;
  font-weight: 600;
  font-style: normal;
}

.why__description {
  font-size: 13px;
  line-height: 20px;
  color: #777777;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.why__images-body {
  width: 100%;
  margin: 67px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.why__images-item:nth-child(1) {
  max-width: 370px;
  z-index: 1;
}

.why__images-item:nth-child(1) img {
  position: absolute;
  -webkit-transform: translate(0%, -50%);
      -ms-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  max-height: 30%;
}

.why__images-item:nth-child(2) {
  margin: 0 auto;
  z-index: 2;
  max-width: 570px;
}

.why__images-item:nth-child(2) img {
  position: static;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  max-width: 100%;
}

.why__images-item:nth-child(3) {
  max-width: 370px;
  z-index: 1;
}

.why__images-item:nth-child(3) img {
  position: absolute;
  -webkit-transform: translate(-100%, -50%);
      -ms-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
  max-height: 30%;
}

.why__us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.why__choose-body {
  width: 25%;
  min-width: 225px;
  text-align: left;
}

.why__choose-body p {
  font-size: 16px;
  line-height: 19px;
  color: #7f8c8c;
  margin-bottom: 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.why__choose-body ul li {
  font-size: 13px;
  line-height: 26px;
  font-weight: 400;
  color: #777777;
}

.why__choose-body ul li::before {
  content: "\f061";
  margin-right: 5px;
  font-size: 12px;
  line-height: 1px;
  font-weight: 900;
  color: #e1524b;
  font-family: "Font Awesome 5 Pro";
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
}

.why__say-body {
  width: 25%;
  min-width: 225px;
}

.why__say-title {
  font-size: 16px;
  line-height: 19px;
  color: #7f8c8c;
  margin-bottom: 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.why__say-text {
  z-index: 2;
  position: relative;
  background-color: #d2e0e0;
  padding: 10px;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  font-style: italic;
  color: #777777;
  text-align: left;
}

.why__say-text span {
  display: block;
  font-style: normal;
}

.why__say-name {
  font-size: 16px;
  line-height: 30px;
  color: #777777;
  text-align: left;
  font-family: 'Open Sans Semibold', sans-serif;
  font-weight: 600;
  font-style: normal;
}

.why__say-name::before {
  z-index: 1;
  position: relative;
  top: 15px;
  left: 20px;
  content: "";
  margin-right: 30px;
  width: 0;
  height: 0;
  border-top: 30px solid #d2e0e0;
  border-left: 20px solid transparent;
}

.why__center-body {
  width: 50%;
}

.why__center-body p {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  color: #777777;
  padding: 0 10px;
}

.why__center-body p a {
  text-decoration: underline;
  color: #e1524b;
}

.why__center-body p a:hover {
  text-decoration: none;
}

@media (max-width: 991px) {
  .why__images-item:nth-child(1) img {
    opacity: 0.8;
  }
  .why__images-item:nth-child(3) img {
    opacity: 0.8;
  }
  .why__us {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  .why__choose-body {
    width: 100%;
  }
  .why__center-body {
    width: 100%;
  }
  .why__center-body p {
    padding: 40px 0px;
  }
  .why__say-body {
    width: 100%;
  }
}

@media (max-width: 780px) {
  .why__images-body {
    width: 100%;
  }
}

@media (max-width: 596px) {
  .why__images-item:nth-child(1) img {
    max-width: 50%;
  }
  .why__images-item:nth-child(3) img {
    max-width: 50%;
  }
}
